#input {
    font-size: 450%;
    width: 350px;
    border: none;
    outline: none;
    overflow: auto;
}

button {
    width: 4rem;
    height: 4rem;
    border-radius: 10px;
    font-size: 160%;
    outline-color: black;
    background-color: white;
    padding: 10px;
    margin: 2px;
}

html {
    font-family: 'Noto Sans JP', sans-serif;
}

#formula {
    font-size: 1.2rem;
}

#result {
    font-size: 2rem;
}

#ans, #del {
    text-align: center;
}
